<div class="flex justify-center">
  <button (click)="filterByAliveWomen()"
    class="w-48 text-white bg-cyan-700 flex items-center px-4 py-2 font-medium rounded-md mr-4">
    <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="text-xl mr-3 mb-2 flex-shrink-0 h-6 w-6"></fa-icon>
    Filter by Alive Women
  </button>
  <button (click)="filterByAliveMen()"
    class="w-48 text-white bg-cyan-700 flex items-center px-4 py-2 font-medium rounded-md mr-4">
    <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="text-xl mr-3 mb-2 flex-shrink-0 h-6 w-6"></fa-icon>
    Filter by Alive Men
  </button>
  <button (click)="filterBySurvived()"
    class="w-48 text-white bg-cyan-700 flex items-center px-4 py-2 font-medium rounded-md mr-4">
    <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="text-xl mr-3 mb-2 flex-shrink-0 h-6 w-6"></fa-icon>
    Filter by Alive
  </button>
</div>

<div class="flex justify-center">
  <canvas baseChart [type]="'pie'" 
    [datasets]="[{ data: currentChartData.data }]" 
    [labels]="currentChartData.labels"
    [options]="pieChartOptions" 
    [plugins]="pieChartPlugins" 
    [legend]="pieChartLegend">
  </canvas>
</div>
